 .foorm{
    background-color: #64CCC5;
color:#001C30 ;
     display:inline-flex;
 align-items: center;
 flex-direction: column;
width: 100%;
min-height: 180ch;
height: 100%;
}
form{
    margin: 20px;
    padding: 30px;
 align-items: center;
width: 40%;
 }
#Colors{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction:row ;
    margin: 1cm;
    width: auto;
    padding: 5px;
}
select, option{
    font-size: 17px;
    font-weight: 300;
    height: 35px;
    margin-left:-10px;
    padding: 5px;
    border-radius: 8px;
    border:  none;
background-color: #176B87;

}
button{
    border: none;
    width:  27%;
    cursor: pointer;
    font-size: x-large;
    font-weight: 500;
    color: #DAFFFB;
    height:40px;
    border-radius: 5px;
    background-color:#001C30;
}
    